<% if(locals.errors) { %>
    <% errors.forEach(function(error) { %>
        <div class="error-msg" role="alert">
            <%= error.msg %>
        </div>
    <% }); %>
<% } %>
    
<% if(success_msg != '') { %>
  <%- include ("./toast", {msg: success_msg, type: "success" }); %>
<% } %>

<% if(error_msg != '') { %>
    <div class="error-msg" role="alert">
        <%= error_msg %>
    </div>
<% } %>

<% if(error != '') { %>
    <div class="error-msg" role="alert">
        <%= error %>
    </div>
<% } %>