<% if(locals.errors) { %>
    <% errors.forEach(function(error) { %>
        <div class="alert" role="alert">
            <%= error.msg %>
        </div>
    <% }); %>
<% } %>
    
<% if(success_msg != '') { %>
    <div class="success" role="alert">
        <%= success_msg %>
    </div>
<% } %>

<% if(error_msg != '') { %>
    <div class="alert" role="alert">
        <%= error_msg %>
    </div>
<% } %>

<% if(error != '') { %>
    <div class="alert" role="alert">
        <%= error %>
    </div>
<% } %>