<section class="profile">
  <%- include ("./partials/sidebar", {active: "api"}); %>
  <section class="profile__content">
    <h2 class="profile__content-title">API key</h2>

    <p class="profile__content-paragraph">
      We impose limits and quotas on API requests to prevent the system from being overwhelmed by excessive data and to ensure fair allocation of system resources. Please note that these limits and quotas may be adjusted over time.
    </p>
    
    <div class="key">
      <span class="key__value" id="apiKey"><%= user.id %></span>
      <button class="key__copy" id="copyButton">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon">
          <rect x="9" y="9" width="13" height="13" rx="2" ry="2"></rect>
          <path d="M5 15H4a2 2 0 0 1-2-2V4a2 2 0 0 1 2-2h9a2 2 0 0 1 2 2v1">
          </path>
        </svg>
      </button>
    </div>

  </section>
</section>
