<section>
  <h1>Basic call</h1>

  <div>
    <code>http://localhost:3000/api/</code>
  </div>
</section>

<section>
  <h1>Get all facts</h1>

  <p>If you want to get all the facts you can.</p>
  <div>
    <code>http://localhost:3000/api/all</code>
  </div>

  <div class="parameters">
    <p>parameters</p>
    <div class="parameters__item">
      <code>category</code>
      <span>optional</span>
      <p>
        You can use the category parameter to get the facts about that topic.
      </p>
    </div>
    <div class="parameters__item">
      <code>lang</code>
      <span>optional</span>
      <p>You can use the lang parameter to get the output in your language.</p>
    </div>
  </div>
</section>

<section>
  <h1>Get Facts by category</h1>

  <p>
    You can get all the facts about a specific topic just by adding
    <code>?category={some category}</code>
  </p>

  <div>
    <code>http://localhost:3000/api/all</code>
  </div>
</section>
