<div class="docs">
  <section>
    <h1>Get all facts</h1>

    <p>If you want to get all the facts you can.</p>

    <div class="parameters">
      <table>
        <tbody>
          <tr>
            <th colspan="3">Parameters</th>
          </tr>
          <tr>
            <td><code>lang</code></td>
            <td>optional</td>
            <td>
              <p>
                You can use the lang parameter to get the output in your
                language.
              </p>
            </td>
          </tr>
          <tr>
            <td><code>Category</code></td>
            <td><span class="sub">optional</span></td>
            <td>
              <p>
                You can use the category parameter to get the facts about that
                topic.
              </p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="api-example">
      <h4>Api call example</h4>
      <code
        >https://<%= url %>/api/all?category=boat&apiToken=
        <a href="/user"> {your_api_key} </a>
      </code>
    </div>
  </section>

  <hr />

  <section>
    <h1>Get specific facts</h1>

    <p>If you want to get a specific fact.</p>

    <!-- <div class="parameters"> -->
    <table>
      <tbody>
        <tr>
          <th colspan="3">Parameters</th>
        </tr>
        <tr>
          <td><code>id</code></td>
          <td><span class="sub">required</span></td>
          <td>
            <p>
              You can use the lang parameter to get the output in your language.
            </p>
          </td>
        </tr>
      </tbody>
    </table>
    <!-- </div> -->
    <div class="api-example">
      <h4>Api call example</h4>
      <code>https://<%= url %>/api/all</code>
    </div>
  </section>

  <h1 id="res"></h1>
</div>

<script>
  const url = "http://localhost:3000/api/all?lang=pt";

  const test = async () => {
    const a = await fetch(url);
    const response = await a.json();

    console.log(response);
    const ele = document.getElementById("res");
    ele.innerText = response.facts[1].fact;
  };

  test();
</script>
