<section class="hero">
  <div class="hero__content">
    <h1>Fun facts</h1>
    <p>Discovery wonderful facts with this api.</p>
    <a class="btn" href="#">Get started</a>
  </div>
  <div>
    <img src="test.svg" alt="test" style="max-width: 40vw; min-width: 10vw" />
  </div>
</section>
