<section class="hero">
  <div class="hero__content">
    <h1>Fun facts</h1>
    <p>Discovery wonderful things every time you call the api.</p>
    <a class="btn" href="/docs" role="button">Get started</a>
  </div>
  <div>
    <img src="/img/hero.svg" alt="test" class="hero__img" />
  </div>
</section>

<section class="why">
  <h2>Why FUN FACTS api?</h2>

  <div class="why__details">
    <div>
      <img src="/img/easy-to-use.png" alt="easy" class="why__img" />
      <h3>Easy</h3>
      <p>Easy to use! learn how to use in only a few minutes.</p>
    </div>
    <div>
      <img src="/img/fast.png" alt="fast" />
      <h3>Fast ⚡</h3>
      <p>learn wonderful things very fast with this api.</p>
    </div>
    <div>
      <img src="/img/reliable.png" alt="reliable" />
      <h3>Reliable 🤝</h3>
      <p>All the facts are checked! learn only the truth.</p>
    </div>
  </div>
</section>

<section class="fact">
  <h2>"<%= fact %>"</h2>
</section>
