<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
      rel="stylesheet"
    />

    <!-- font awesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
      integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="styles.css" />
    <title>Home</title>
  </head>
  <body>
    <header class="header">
      <a href="/"><h2>Fun facts</h2></a>

      <nav class="navbar">
        <li class="navbar__item">
          <a href="/">Home</a>
        </li>
        <li class="navbar__item">
          <a href="/docs">Docs</a>
        </li>
        <li class="navbar__item">
          <a href="/api">Api</a>
        </li>
        <li class="navbar__item">
          <a href="/about">About</a>
        </li>
      </nav>

      <div>
        <% if (user) { %>
        <a href="/user" class=".header__right">hello, <%= user.name %> </a>
        <% } else { %>
        <a href="/login" class=".header__right">Try for Free</a>
        <% } %>
      </div>
      <i class="fa fa-bars" id="bars"></i>
    </header>

    <div class="navigation" id="navigation">
      <li class="navigation__item">
        <h2>Fun facts</h2>
      </li>
      <li class="navigation__item">
        <a href="/">Home</a>
      </li>
      <li class="navigation__item">
        <a href="/docs">Docs</a>
      </li>
      <li class="navigation__item">
        <a href="/api">Api</a>
      </li>
      <li class="navigation__item">
        <a href="/about">About</a>
      </li>
      <% if (user) { %>
      <li class="navigation__item">
        <a href="/logout">Logout</a>
      </li>
      <% } else { %>
      <li class="navigation__item">
        <a href="/login">Sign in</a>
      </li>
      <% } %>
    </div>

    <%- body %>

    <script src="/js/main.js"></script>
  </body>
</html>
