<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link
    href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
    rel="stylesheet"
  />

  <link rel="stylesheet" href="/styles/styles.css" />
  <title>Members</title>
</head>
<body>
  <main class="auth">
		<div class="auth__container">
			<h1 class="auth__container-title">Sign in</h1>
			<p class="auth__container-paragraph">Welcome back! Sign in again and discover the world with our API. Each interaction reveals a new layer of fascination.</p>

      <form action="/login" method="POST" class="form" id="signInForm">
        <input
          type="email"
          name="email"
          placeholder="Email"
          autocomplete="off"
          class="input"
          id="signInEmail"
          required
        />
        <input
          type="password"
          name="password"
          placeholder="Password"
          autocomplete="off"
          class="input"
          id="signInPassword"
          maxlength="40"
					minlength="8"
          required
        />

        <button class="btn btn--primary" id="signInButton">Sign In</button>
        
        <%- include ("./partials/messages"); %>
      </form>

      <span class="separator">or</span>
			<p class="">Don't have an account? <a href="/register">Sign Up</a></p>
    </div>
	</main>

  <script src="/js/main.js"></script>
</body>
</html>
