<section class="profile">
  <%- include ("./partials/sidebar", {active: "account"}); %>

  <section class="profile__content">
    <h1 class="profile__content-title">Profile</h1>
    <p class="profile__content-paragraph">Update and manage your account settings and profile information.</p>

    <form action="/user" method="POST" id="updateForm">
      <input
        type="email"
        name="email"
        value="<%= user.email %>"
        placeholder="Email"
        autocomplete="off"
        class="input"
        id="updateEmail"
      />
      <input
        type="text"
        name="name"
        value="<%= user.name %>"
        placeholder="Name"
        autocomplete="off"
        class="input"
        id="updateName"
      />
      
      <button class="btn btn--primary" id="updateButton">Update</button>

      <%- include ("./partials/messages"); %>
    </form>

    <hr />

    <div class="profile__danger">
      <h2 class="profile__danger-title">Delete account</h2>
      <p class="profile__danger-paragraph">Please be sure before you request that we delete your account and remove your profile.</p>
      <form action="user/delete" method="post" id="deleteAccountForm">
        <button type="button" class="alert" id="deleteAccountButton">Delete Account</button>
      </form>
    </div>
  </section>
</section>
