/* == color palette == */
/* text: #241b3d; */
/* primary: #5f4ca5; */
/* bg: white */

:root {
  --bg-color: #222329;
  --bg-lighter: #31323a;
  /* --bg-color: white; */
  --primary: #d8d8d8;
  /* --secondary: #ce9eff; */
  --secondary: #444964;
  --secondary-lighter: #7a83b3;
  --secondary-three: #51587c;
  --error-color: #f04e4e;
  /* --text:  */
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
  color: var(--primary);
}

body,
html {
  background-color: var(--bg-color);
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
  /* font-family: "Poppins", sans-serif; */
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

hr {
  border: 1px solid var(--bg-lighter);
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--bg-lighter);
  border-radius: 20px;
}

button {
  cursor: pointer;
}

.alert {
  color: var(--error-color);
}

.success {
  color: #20db9a;
}

input {
  font-family: "Ubuntu", sans-serif;
  color: var(--primary);
}

code {
  background-color: var(--bg-lighter);
  border-radius: 3px;
}

/* === login and register page === */
h1 {
  font-weight: bold;
  margin: 0;
}

.text {
  margin: 20px 0 30px;
}

span {
  font-size: 12px;
}

button {
  border-radius: 20px;
  border: 1px solid var(--secondary-lighter);
  background-color: var(--secondary-lighter);
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}

.btn {
  width: 100%;
  margin: 5px 0;
}

button:active {
  transform: scale(0.95);
}

button:focus {
  outline: none;
}

button.ghost {
  background-color: transparent;
  border-color: #ffffff;
}

.form {
  background-color: var(--bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
}

input {
  background-color: var(--bg-lighter);
  border: none;
  padding: 14px;
  margin: 5px 0;
  width: 100%;
  border-radius: 50px;
}

.container {
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
}

.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.sign-in-container {
  left: 10%;
  width: 40%;
  z-index: 2;
}

.container.right-panel-active .sign-in-container {
  transform: translateX(100%);
}

.sign-up-container {
  left: 10%;
  width: 40%;
  opacity: 0;
  z-index: 1;
}

.container.right-panel-active .sign-up-container {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: show 0.6s;
}

@keyframes show {
  0%,
  49.99% {
    opacity: 0;
    z-index: 1;
  }

  50%,
  100% {
    opacity: 1;
    z-index: 5;
  }
}

.overlay-container {
  position: absolute;
  top: 0;
  left: 65%;
  width: 35%;
  height: 100%;
  overflow: hidden;
  transition: left 0.6s ease-in-out;
  z-index: 100;
}

.container.right-panel-active .overlay-container {
  left: 0;
}

.overlay {
  background: var(--secondary-lighter);
  background: -webkit-linear-gradient(
    to right,
    var(--secondary-three),
    var(--secondary-lighter)
  );
  background: linear-gradient(
    to right,
    var(--secondary-three),
    var(--secondary-lighter)
  );
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  color: #ffffff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.container.right-panel-active .overlay {
  transform: translateX(50%);
}

.overlay-panel {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.overlay-left {
  transform: translateX(-20%);
}

.container.right-panel-active .overlay-left {
  transform: translateX(0);
}

.overlay-right {
  right: 0;
  transform: translateX(0);
}

.container.right-panel-active .overlay-right {
  transform: translateX(20%);
}

/* === header === */
.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.6rem;
}

nav {
  display: flex;
}

.navbar__item {
  margin: 0 1rem 0 1rem;
  padding: 0.5rem;
}

.header__right {
  font-weight: bolder;
}

.navigation,
#bars {
  display: none;
}

/* === home page === */
.hero {
  margin: 1rem;
  border-radius: 1rem;
  min-height: 85vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.hero__content h1 {
  font-size: 2.5rem;
}

.hero__content p {
  margin-bottom: 1rem;
}

.hero__content .btn {
  background-color: var(--secondary-lighter);
  color: var(--primary);
  border-radius: 4px;
  padding: 0.7rem;
  user-select: none;
}

.why {
  text-align: center;
  background-color: var(--bg-lighter);
  padding: 2rem;
  height: 90vh;
}

.why__details {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin: 2rem 0;
}

.why__details p {
  max-width: 300px;
}

.why img {
  width: 250px;
}

.fact {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  height: 50vh;
}

/* ===== docs ===== */
.docs {
  margin: 2rem 0 0 2rem;
  width: 70%;
}

hr {
  margin: 2em 0;
  max-width: 100%;
}

.docs__link {
  color: var(--secondary-lighter);
  font-weight: bolder;
}

code {
  padding: 4px 4px 4px 8px;
  font-size: 0.9rem;
  position: relative;
}

.example {
  display: inline-block;
  margin: 1rem 0;
}

.example::before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 4px;
  content: "";
  background-color: var(--secondary-lighter);
}

table {
  margin: 2rem 0;
}

table td {
  border-bottom: 1px solid var(--bg-lighter);
}

tr:hover:not(:first-child) {
  background-color: var(--bg-lighter);
}

table tr th {
  text-align: left;
}
table tr td {
  padding: 6px;
}

/* === user page === */
.profile {
  display: flex;
}

.profile section {
  margin: 2rem 2rem;
  width: 30%;
}

.profile button {
  padding: 6px;
}

.sidebar {
  width: 50%;
}

.sidebar .active {
  background-color: var(--bg-lighter);
}

.sidebar__item {
  padding: 10px;
  border-radius: 50px;
  width: 100%;
}

.sidebar__item a {
  display: block;
  width: 100%;
}

.profile code {
  padding: 6px;
}

@media screen and (max-width: 768px) {
  /* === header === */
  .header {
    justify-content: space-between;
  }

  .logo {
    font-size: 1.5rem;
  }

  #bars {
    font-size: 2rem;
    display: block;
  }

  .navigation {
    position: fixed;
    top: 0;
    display: none;
    background-color: var(--bg-lighter);
    z-index: 4;
    height: 100vh;
    width: 60%;
  }

  .navigation li {
    padding: 10px;
    font-size: 1.4rem;
  }

  .navigation a,
  h2 {
    color: var(--primary);
    width: 100%;
    display: block;
  }

  .active {
    display: block;
  }

  .header div,
  nav {
    display: none;
  }

  /* === index page === */
  .hero {
    margin: 0.4rem;
  }

  .hero__content {
    margin: 10px;
  }

  .fact {
    text-align: center;
  }

  .fact h2 {
    max-width: 90%;
  }
  /* === docs === */
  .docs {
    margin: 1rem auto;
    padding: 5px;
    width: 95%;
  }

  .example {
    display: flex;
    padding: 10px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
  }

  /* === user page === */
  .profile {
    display: block;
    margin: auto;
  }

  .profile section {
    width: 90%;
    margin: auto;
  }

  .sidebar {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  /* === login and register === */

  .overlay-container {
    display: none;
  }

  .form-container {
    width: 100%;
    left: 0;
  }

  .container.right-panel-active .sign-up-container {
    transform: translateX(0%);
    animation: none;
  }

  .auth {
    margin: 10% 0;
    font-size: 0.9rem;
  }

  .auth a {
    color: var(--secondary-lighter);
  }

  .navigation {
    width: 80%;
  }

  /* === home page === */
  .hero img {
    display: none;
  }

  .why {
    height: auto;
  }

  .why__details {
    display: block;
    width: 100%;
    margin: 2rem 0;
  }

  /* === user page === */
  .profile {
    width: 90%;
  }
}
