/* == color palette == */
/* text: #241b3d; */
/* primary: #5f4ca5; */
/* bg: white */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
  color: #4b3e6e;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

body::-webkit-scrollbar {
  width: 8px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: transparent; /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #5f4ca533; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
}

/* login and register page */
.signin-signup {
  display: flex;
  align-items: center;
  height: 100vh;
}

.login {
  position: absolute;
  right: 20%;
  width: 25%;
  transition: right ease 1s;
}

.register {
  right: 55%;
}

input {
  display: block;
  padding: 10px 6px;
  width: 100%;
  background-color: #f0f0f0;
  border: none;
  margin: 10px 0;
}

.btn {
  background-color: #5f4ca5;
  color: white;
  border: none;
  padding: 6px;
  width: 100%;
}

.side {
  position: absolute;
  left: 0;
  background-color: #5f4ca5;
  width: 35%;
  height: 100%;
  display: flex;
  align-items: center;
  transition: left ease 1s;
}

.sign-in {
  left: 65%;
}

#login-content {
  display: none;
}

.side__content {
}

header {
  /* background-color: aquamarine; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.5rem;
  box-shadow: 4px 4px 8px rgba(126, 126, 126, 0.123);
}

nav {
  display: flex;
}

.navbar__item {
  margin: 0 1rem 0 1rem;
  padding: 0.5rem;
}

.try-free {
  font-weight: bolder;
}

.navigation,
#bars {
  display: none;
}

.hero {
  background-color: #faf0ff6b;
  margin: 1rem;
  border-radius: 1rem;
  min-height: 85vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.hero__content {
  /* background-color: blueviolet; */
}

.hero__content h1 {
  font-size: 2.5rem;
}

.hero__content p {
  /* margin-top: 1rem; */
  margin-bottom: 1rem;
}

.hero__content .btn {
  background-color: #5f4ca5;
  color: white;
  border-radius: 4px;
  padding: 0.5rem;
  user-select: none;
}

/* ===== docs ===== */
.docs {
  margin: 10px 0 0 30px;
  width: 70%;
}

.docs div {
  margin: 10px 0;
}

hr {
  margin: 20px 0;
  max-width: 100%;
}

.docs code {
  background-color: #4b3e6e11;
  padding: 4px;
}

table td {
  border-bottom: 1px solid #4b3e6e11;
}

tr:hover {
  background-color: #4b3e6e11;
}

table tr th {
  text-align: left;
}
table tr td {
  padding: 6px;
}

@media screen and (max-width: 768px) {
  header {
    /* display: flex; */
    justify-content: space-between;
  }

  .fa-bars {
    font-size: 1.5rem;
  }

  .navigation {
    position: fixed;
    display: none;
    background-color: #4b3e6e;
    height: 100vh;
    width: 60%;
    transition: display ease 0.5s;
  }

  .active {
    display: block;
  }

  header div,
  nav {
    display: none;
  }

  .docs {
    margin: 0px;
    padding: 10px;
    width: 100%;
  }
}
