@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  /* --bg-color: #151518; 002333 */
  --bg-color: #05080a;
  --bg-secondary-color: #0c1216;
  --bg-tertiary-color: #212227;
  --transparentize-bg-color: #05080aaf;
  --transparentize-bg-secondary-color: #31323a91;
  --text-color: #d8d8d8;
  --text-secondary-color: #8a8a8a;
  --accent-color: #10a37f;
  --transparentize-accent-color: #10a37e46;
  --accent-hover-color: #0ec277;
  --danger-color: #f04e4e;
  --danger-color-hover: #ff3434;
  
  --code-header-color: #0f171b;

  --transition-duration: 600ms;
  --transition-animation: cubic-bezier(.6,0,.4,1);
  --border-radius: 6px;

  --z-index-modal: 100;
  --z-index-overlay: 99;
  --z-index-dropdown: 80;
  
  --header-height: 60px;

  --body-font: "Inter";
  --heading-font: "Roboto";

  --footnote-font-size: 12px;
  --body-font-size: 14px;
  --heading-font-size: 24px;
}

.toggle-container {
  position: relative;
}

.toggle-label {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 25px;
  background-color: var(--toggle-bg-color);
  border-radius: 25px;
  transition: background-color var(--transition-duration) ease;
}
.toggle-label::after {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  width: 21px;
  height: 21px;
  background-color: var(--toggle-handle-color);
  border-radius: 50%;
  transition: transform var(--transition-duration) ease;
  transform: var(--toggle-handle-transform);
}
.toggle-checkbox:checked + .toggle-label {
  background-color: var(--toggle-bg-color-dark);
}
.toggle-checkbox:checked + .toggle-label::after {
  transform: translateX(25px);
}

/* ========== General styles ========== */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
  text-decoration: none;
  color: var(--text-color);
  -webkit-tap-highlight-color: transparent;
  accent-color: var(--accent-color);
}

body,
html {
  background-color: var(--bg-color);
  font-family: var(--body-font), sans-serif;
  font-size: var(--body-font-size);
  position: relative;
  font-size: var(--body-font);
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--bg-tertiary-color);
  /* border-radius: var(--border-radius); */
}

::selection {
  background-color: var(--accent-color);
  color: var(--bg-color);
}

li {list-style: none;}

a {
  text-decoration: underline;
  color: var(--accent-color);
  font-weight: 600;
}

a:hover {
  color: var(--accent-color);
}

hr {
  border: 1px solid var(--bg-secondary-color);
  margin: 2em 0;
  max-width: 100%;
}

h1, h2 {
  font-weight: bold;
  font-family: var(--heading-font);
  font-size: var(--heading-font-size);
  margin: 0;
}

/* input {
  background-color: var(--bg-secondary-color);
  border: none;
  padding: 14px;
  margin: 5px 0;
  width: 100%;
  border-radius: 50px;
} */

/* 
code {
  padding: 4px 4px 4px 8px;
  font-size: 0.9rem;
  position: relative;
  background-color: var(--bg-secondary-color);
  border-radius: 4px;
} */

.main {
  padding: 1rem;
}

.overlay {
  position: fixed; /* Fixed position to cover the entire viewport */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black background */
  z-index: var(--z-index-overlay); /* Ensure the overlay is on top of other elements */
  display: none;
}

.overlay--active {
  display: block;
}

.highlight {
  color: var(--accent-color);
}

.icon {
  stroke: var(--text-color);
}

.input {
  border: 1px solid var(--text-color);
  background: none;
  display: flex;
  justify-content: space-between;
  border-radius: var(--border-radius);
  overflow: hidden;
  margin: 1rem 0;
  padding: .8rem 1rem;
  width: 100%;
  font-size: var(--body-font-size);
  font-family: var(--body-font);
  transition: all var(--transition-duration) var(--transition-animation);
}

.input:hover {
  border-color: var(--accent-color);
}

.input:focus {
  border-color: var(--accent-color);
  box-shadow: 0px 0px 1px 2px #10a37e36;
}

.input--error {
  border-color: var(--danger-color);
}

.input--error:hover {
  border-color: var(--danger-color);
}

.input--error:focus {
  border-color: var(--danger-color);
  box-shadow: 0px 0px 1px 2px #f04e4e42;
}

.agree {
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 2rem;
  width: fit-content;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 1rem 0;
  height: 20px;
}

.agree__text {
  font-size: var(--footnote-font-size);
  color: var(--text-secondary-color);
}

/* Hide the browser's default checkbox */
.agree input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background: none;
  border: 1px solid var(--text-color);
  border-radius: 4px;
  transition: all var(--transition-duration) var(--transition-animation);
}

/* On mouse-over, add a grey background color */
.agree:hover input ~ .checkmark {
  border-color: var(--accent-color);
}

/* When the checkbox is checked, add a blue background */
.agree input:checked ~ .checkmark {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.agree input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.agree .checkmark:after {
  left: 6px;
  top: 3px;
  width: 3px;
  height: 7px;
  border: solid var(--bg-color);
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  gap: 1rem;
  border: 1px solid transparent;
  border-radius: var(--border-radius);
  padding: .6rem 1.2rem;
  font-family: var(--heading-font);
  font-weight: 700;
  text-decoration: none;
  cursor: pointer;
  transition: all var(--transition-duration) ease-in;
}

.btn:active {transform: scale(0.9);}

.btn--primary {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  color: var(--bg-color);
}

.btn--primary:hover {
  background-color: var(--accent-hover-color);
  color: var(--bg-color);
}

.btn--secondary {
  background-color: var(--bg-secondary-color);
  /* box-shadow: inset 0px 0px 8px var(--bg-color); */
  border-color: var(--bg-secondary-color);
  color: var(--text-color);
}

.btn--secondary:hover {
  /* background-color: var(--accent-hover-color); */
  /* color: var(--bg-color); */
}

.btn--danger {
  background-color: var(--danger-color);
  border-color: var(--danger-color);
  color: var(--bg-color);
}

.btn--danger:hover {
  background-color: var(--danger-color-hover);
}

.btn--disabled {
  opacity: .4;
  cursor: not-allowed;
}

.btn--small {
  padding: .6rem 1rem;
}

.error-msg {
  text-align: left;
  margin: .4rem 0;
  font-size: var(--footnote-font-size);
  color: var(--danger-color);
}

.success {
  color: var(--accent-color);
  font-size: var(--footnote-font-size);
  margin: .4rem 0;
}

.alert, .alert:hover {
  background: none;
  border: none;
  font-family: var(--heading-font);
  font-weight: 600;
  font-size: var(--body-font);
  color: var(--danger-color);
  cursor: pointer;
}

.separator {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 2rem 0;
  font-size: var(--footnote-font-size);
  color: var(--text-secondary-color);
}

.separator::before,
.separator::after {
  content: '';
  flex: 1;
  border-bottom: 2px solid var(--bg-secondary-color);
}

.separator:not(:empty)::before {
  margin-right: .5em;
}

.separator:not(:empty)::after {
  margin-left: .5em;
}

.code--error {
  background-color: var(--bg-secondary-color);
  display: block;
  overflow: scroll;
  padding: 1.2rem;
  border-left: 3px solid var(--accent-color);
  white-space: nowrap;
  border-radius: var(--border-radius);
  margin: 1rem 0;
}
/* ========== Note Section ========== */
.note {
  display: flex;
  align-items: center;
  justify-content: start;
  background-color: var(--bg-secondary-color);
  padding: 1rem;
  border-radius: var(--border-radius);
  margin: 1rem 0;
  gap: 1rem;
}

.note svg path {
  width: 24px;
  /* fill: var(--accent-color); */
}

/* ========== Toast notification ========== */
.modal {
  z-index: var(--z-index-modal);
  background-color: var(--bg-secondary-color);
  border-radius: var(--border-radius);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem;
  border-radius: var(--border-radius);
  width: 90%;
  max-width: 400px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
}

.modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--bg-tertiary-color);
}

.modal__header button {
  background: none;
  border: none;
  cursor: pointer;
}

#closeModal {
  font-size: 1.4rem;
}

.modal__title {}

.modal__text {
  margin: 2rem 0;
}

.modal__actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

.modal__actions .btn {
  flex: auto;
}

/* ========== Toast notification ========== */
.toast {
  position: fixed;
  width: max-content;
  right: 1rem;
  bottom: 1rem;
  margin: 0 auto;
  border-radius: var(--border-radius);
  background-color: var(--bg-secondary-color);
  color: var(--text-color);
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
  transform: translateY(30px);
  opacity: 0;
  visibility: hidden;
  animation: fade-in 3s linear;
  z-index: var(--z-index-modal);
}

.toast__body {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem 1.2rem;
}

.toast__progress {
  position: absolute;
  left: 4px;
  bottom: 4px;
  width: calc(100% - 8px);
  height: 3px;
  transform: scaleX(0);
  transform-origin: left;
  background: linear-gradient(
    to right,
    var(--bg-secondary-color),
    var(--accent-color),
  );
  
  border-radius: inherit;
  animation: progress 2.5s 0.3s linear;
}

.toast--success .toast__progress {
  background: linear-gradient(
    to right,
    var(--bg-secondary-color),
    var(--accent-color)
  );
}

.toast--error .toast__progress {
  background: linear-gradient(
    to right,
    var(--bg-secondary-color),
    var(--danger-color)
  );
}

/* ========== Error pages ========== */
.error {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100dvh;
  text-align: center;
}

.error__image {
  width: 100%;
  max-width: 450px;
}

.error__title {
  font-size: 1.6rem;
}

.error__message {
  margin: 1rem 0;
  font-size: 1.1rem;
  max-width: 250px;
}
/* ========== Login and register page ========== */
.auth {
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: radial-gradient(var(--transparentize-accent-color) .8px, transparent 0);
  background-repeat: repeat;
  background-position: -8.5px -8.5px;
  background-size: 17px 17px;
}

.auth__container {
  text-align: center;
  padding: 1rem;
  border-radius: var(--border-radius);
  backdrop-filter: blur(2px);
  background-color: var(--transparentize-bg-color);
}

.auth__container-title {
  font-size: 2rem;
}

.auth__container-paragraph  {
  max-width: 450px;
  margin: 1.2rem auto 2rem auto;
  color: var(--text-secondary-color);
}

.form {
  position: relative;
}

.form .btn {
  width: 100%;
}
/* ========== Header and Navigation ========== */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--transparentize-bg-color);
  backdrop-filter: blur(42px);
  padding: .4rem 1rem;
  border-bottom: 1px solid var(--bg-secondary-color);
  height: var(--header-height);
  position: absolute;
  width: 100%;
  top: 0;
  transition: transform var(--transition-duration) var(--transition-animation);
}

.header--inactive {
  transform: translateY(-60px);
}

.header--fixed {
  position: fixed;
  transform: translateY(0);
  z-index: var(--z-index-modal);
}

.logo {
  display: flex;
  align-items: center;
}

.logo-icon {
  fill: var(--text-color);
}

.nav {
  display: none;
}

.theme-toggle {
  background: none;
  border: none;
}

.overlay--active ~ .header {
  background-color: transparent;
  border: none;
  z-index: var(--z-index-modal);
}

.overlay--active ~ .header #bars {
  color: white;
}

#bars {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: none;
  border: none;
  z-index: var(--z-index-modal);
}

#bars svg {
  fill: var(--text-color);
  width: 36px;
  height: 36px;
}

.navigation {
  position: fixed;
  top: 0;
  left: -100%;
  background-color: var(--bg-secondary-color);
  z-index: var(--z-index-modal);
  height: 100dvh;
  width: 80%;
  padding: 0 .8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: left var(--transition-duration) ease;
  border-radius: 0 12px 12px 0;
}

.navigation--active {
  left: 0;
}

.navigation__header {
  height: 60px;
  display: flex;
  align-items: center;
  gap: 1rem;
  border-bottom: 1px solid var(--bg-tertiary-color);
}

.navigation__list-item a {
  display: block;
  font-size: var(--body-font);
  border-radius: var(--border-radius);
  padding: 1rem 1rem;
  margin: .2rem 0;
  transition: all var(--transition-duration) ease;
  text-decoration: none;
  color: var(--text-secondary-color);
}

.navigation__list-item a:hover {
  background-color: var(--bg-tertiary-color);
}

.navigation__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

.navigation__footer-item {
  padding: 1rem;
}

#theme-toggle {
  font-size: 1.6rem;
}

.header__btn {
  display: none;
}

/* ========== Home page ========== */
.hero {
  min-height: 90vh;
  margin-top: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: radial-gradient(var(--bg-tertiary-color) .8px, transparent 0);
  background-repeat: repeat;
  background-position: -8.5px -8.5px;
  background-size: 17px 17px;
}

.hero__content-title {
  font-size: 3rem;
}

.hero__content-paragraph {
  color: var(--text-secondary-color);
  margin: 1.2rem 0;
  max-width: 80%;
}

.hero__content-actions {
  display: flex;
  justify-content: start;
  gap: 1rem;
}

/* ========== Why section ========== */
.why {
  text-align: center;
}

.why__title {
  margin: 2rem auto;
  max-width: 300px;
}

.why__content-item img, .why__content-item svg {
  width: 100%;
  max-width: 300px;
  border-radius: var(--border-radius);
}

.why__content-item p {
  color: var(--text-secondary-color);
  max-width: 300px;
  margin: 1.2rem auto;
}

/* ========== Call response example section ========== */
.call-example {
  padding: 2rem 0;
  max-width: 100%;
}

.call-example img {
  width: 100%;
  border-radius: var(--border-radius);
  border: 1px solid var(--bg-secondary-color);
}

.call-example__title {
  margin: 1rem 0;
}

/* ========== Contribute section ========== */
.contribute {
  margin: 3rem 0;
}

.contribude__cover {
  width: 100%;
  max-width: 500px;
  height: 140px;
  z-index: calc(var(--z-index-overlay) - 1);
  text-align: center;
  position: relative;
}

.contribude__cover::before {
  content: "";
  position: absolute;
  width: 140px;
  height: 100px;
  z-index: -20;
  background-image: radial-gradient(var(--text-color) 1px, transparent 0);
  background-repeat: repeat;
  background-position: -8.5px -8.5px;
  background-size: 17px 17px;
  bottom: 0;
  left: 0;
}

.contribute img {
  width: 80%;
  max-width: 400px;
  border-radius: var(--border-radius);
}

.contribute__content-title {
  font-size: 1.8rem;
  margin: 1.6rem 0;
}

.contribute__content-paragraph {
  margin: .6rem 0;
  color: var(--text-secondary-color);
}

.contribute .btn {
  margin: 2rem 0;
}
/* ========== Partners section ========== */
.partners {
  text-align: center;
  padding: 2rem 0;
}

.partners__title {
  margin: 2rem 0;
  font-size: 2.1rem;
  max-width: 500px;
  margin: auto;
}

.scroller {
  max-width: 100%;
  margin: 4rem 0;
}

.scroller__inner {
  padding-block: 1rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;
}

.scroller__inner li {
  display: flex;
  align-items: center;
  width: 200px;
}

.scroller[data-animated="true"] {
  overflow: hidden;
  -webkit-mask: linear-gradient(
    90deg,
    transparent,
    white 20%,
    white 80%,
    transparent
  );
  mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}

.scroller[data-animated="true"] .scroller__inner {
  width: max-content;
  flex-wrap: nowrap;
  align-items: center;
  animation: scroll var(--_animation-duration, 40s)
    var(--_animation-direction, forwards) linear infinite;
}

.scroller svg {
  width: fit-content;
  fill: var(--text-color);
}

.scroller[data-animated="true"]:hover .scroller__inner {
  animation-play-state: paused;
}

.scroller[data-direction="right"] {
  --_animation-direction: reverse;
}

.scroller[data-direction="left"] {
  --_animation-direction: forwards;
}

.scroller[data-speed="fast"] {
  --_animation-duration: 20s;
}

.scroller[data-speed="slow"] {
  --_animation-duration: 60s;
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}

/* ========== Documentation page ========== */
.header__actions {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.sidebar {
  margin-top: var(--header-height);
}

.sidebar__label {
  padding: .4rem .6rem;
  /* margin: .8rem 0; */
  text-transform: uppercase;
}

.sidebar__item {
  overflow: hidden;
  margin: .2rem 0;
  border-radius: var(--border-radius);
}

.sidebar__item:hover {
  background-color: var(--bg-secondary-color);
}

.sidebar__item a {
  display: block;
  font-weight: 400;
  padding: .8rem .6rem;
  text-decoration: none;
  color: var(--text-color);
}

.sidebar__item--active a {
  color: var(--accent-color);
  background-color: var(--transparentize-accent-color);
}

.docs__section {
  margin: 2rem 0;
}

.docs__section-title {
  font-size: 2rem;
  margin: 1rem 0;
}

.docs__section-paragraph {
  margin: 1rem 0;
}

.docs__section-footnote {
  font-size: var(--footnote-font-size);
  color: var(--text-secondary-color);
}

.content__header {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 1rem 0;
}

.method {
  background-color: var(--transparentize-accent-color);
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
  border-radius: var(--border-radius);
  padding: .2rem .6rem;
}

.url {
  color: var(--text-secondary-color);
}

.content__parameter {
  margin: 2rem 0 2rem 0;
}

.parameter__item {
  margin: 1.6rem 0;
}

.parameter__item div {
  display: flex;
  gap: 1rem;
  margin: .6rem 0;
  align-items: center;
}

.parameter__item-span {
  background-color: var(--bg-secondary-color);
  border: 1px solid var(--text-secondary-color);
  color: var(--text-color);
  border-radius: var(--border-radius);
  padding: .4rem .6rem;
}

.parameter__item-type {
  color: var(--text-secondary-color);
}

.code {
  background-color: var(--bg-secondary-color);
  border-radius: var(--border-radius);
  overflow: hidden;
}

.code__header {
  background-color: var(--code-header-color);
  box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.425);
  padding: 1rem;
}

.code__content {
  padding: 1rem;
  display: block;
  overflow: scroll;
}


.code__content::-webkit-scrollbar, .code--error::-webkit-scrollbar {
  width: 2px;
  height: 1px;
}

.code__content::-webkit-scrollbar-track, .code--error::-webkit-scrollbar {
  background: transparent;
}

.code__content::-webkit-scrollbar-thumb, .code--error::-webkit-scrollbar {
  background-color: var(--bg-secondary-color);
  border-radius: 20px;
}

.docs__link {
  color: var(--accent-hover-color);
  font-weight: bolder;
}

.example {
  display: inline-block;
  margin: 1rem 0;
}

.example::before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 4px;
  content: "";
  background-color: var(--accent-hover-color);
}

/* ========== Profile page ========== */
.profile {
  margin-top: var(--header-height);
}

.profile__content {
  margin: 1rem 0;
}
  
.profile__content-title {
  font-size: 2.2rem;
}

.profile__content-paragraph {
  margin: .4rem 0 1.4rem 0;
}

.profile .btn {
  width: 100%;
}

.profile .alert {
  margin: 1rem 0;
}

.profile__danger-paragraph {
  margin: .6rem 0;
  max-width: 500px;
}

.key {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
  max-width: 400px;
  border: 1px solid var(--text-color);
  border-radius: var(--border-radius);
  padding: 1rem;
}

.key__copy {
  cursor: pointer;
  background: none;
  border: none;
}

.options__list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: var(--border-radius);
  margin: .2rem 0;
  cursor: pointer;
  overflow: hidden;
}

.options__list-item a {
  text-decoration: none;
  padding: 1rem;
  width: 100%;
}

.options__list-item:hover {
  background-color: var(--bg-secondary-color);
}

.options__list-item.active {
  background-color: var(--transparentize-accent-color);
}

/* ========== Terms ========== */
.terms {
  text-align: center;
}

.terms__title {
  margin: .6rem 0;
  font-size: 2.2rem;
}

.terms__date, .terms__list-thanks {
  font-size: var(--footnote-font-size);
  color: var(--text-secondary-color);
}

.terms__paragraph {
  margin: 1rem 0;
}

.terms__list {
  border: 2px solid var(--bg-secondary-color);
  border-radius: var(--border-radius);
  padding: 1rem;
}

.terms__list-item li {
  margin: auto;
}

.terms__list-item li {
  list-style: disc;
  max-width: 90%;
  margin: 1rem 0 0 2rem ;
  text-align: left;
}

.terms__item-title {
  margin: 1rem 0;
}

.terms__item-paragraph {
  text-align: left;
}

.terms__list-thanks {
  margin: 2rem 0;
}

/* ========== Footer ========== */
.footer {
  padding: 1rem;
}

.footer__main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column-reverse;
  padding: 0 1rem;
}

.footer__info-logo {
  font-size: 1.8rem;
}

.footer__info-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 1rem 0;
}

.list__item a {
  color: var(--text-color);
  text-decoration: none;
  font-size: var(--body-font);
  transition: color var(--transition-duration) ease;
}

.footer__newsletter {
  margin: 1.5rem 0;
  padding: .8rem 0;
  border-bottom: 1px solid var(--bg-tertiary-color);
}

.form__input {
  border: 1px solid var(--text-color);
  display: flex;
  justify-content: space-between;
  border-radius: var(--border-radius);
  overflow: hidden;
  margin: 1rem 0;
}

.form__input input {
  background: none;
  border: none;
  margin: 0;
  padding: .8rem 1rem;
  width: 100%;
  font-size: var(--body-font-size);
  font-family: var(--body-font);
}

.form__input .btn {
  border-radius: 0;
  color: var(--text-color);
  background: none;
  border: none;
  border-left: 1px solid var(--text-color);
  transition: color var(--transition-duration) ease;
}

.form__input .btn:hover {
  color: var(--accent-color);
}

.footer__newsletter-footnote {
  font-size: var(--footnote-font-size);
  color: var(--text-secondary-color);
  max-width: 280px;
  display: block;
}

.footer__bottom-sublink {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  margin: 1.6rem 0;
  max-width: 700px;
}

.sublink__item {
  min-width: fit-content;
  word-wrap: normal;
  position: relative;
  padding: 0 1rem;
}

.sublink__item::after {
  content: "|";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 8px;
  color: var(--text-secondary-color);
}

.sublink__item:last-child::after {
  content: "";
}

.sublink__item a {
  color: var(--text-secondary-color);
  text-decoration: none;
  font-size: var(--footnote-font-size);
  transition: color var(--transition-duration) ease;
}

.sublink__item a:hover, .list__item a:hover {
  color: var(--accent-color);
}

.footer__footnotes {
  text-align: center;
  margin: 2rem 0 0 0;
}

.footer__footnotes-copyright {
  font-size: var(--footnote-font-size);
  color: var(--text-secondary-color);
}

.footer__footnotes-social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
  margin: 1rem 0;
}

.social__item {
  width: 22px;
  transition: transform var(--transition-duration) ease;
}

.social__item:hover {
  transform: translateY(-5px);
}

.social__item-link svg {
  stroke: var(--text-secondary-color);
}

/* ========== Animations ========== */
@keyframes fade-in {
  5% {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
  95% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes progress {
  to {
    transform: scaleX(1);
  }
}

/* ========== Responsive ========== */
@media screen and (min-width: 768px) {
  .form {padding: 0 10px;}

  /* ========== Header and navigation ========== */
  .header {
    justify-content: space-between;
    padding: .4rem 4rem;
  }

  .nav {
    display: block;
  }

  .nav__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
  }

  .nav__list-item a {
    text-decoration: none;
    font-size: var(--footnote-font-size);
    color: var(--text-color);
    transition: all var(--transition-duration) ease;
  }

  .nav__list-item a:hover {
    color: var(--accent-color);
  }

  #bars {
    display: none;
  }

  .header__btn button, .header__btn a {
    display: flex;
    align-items: center;
  }

  .header__btn {
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  .header__btn, .logo {
    width: 140px;
  }

  #theme-toggle {
    cursor: pointer;
    color: var(--text-secondary-color);
  }
  /* ========== Home page ========== */
  .hero {
    text-align: center;
    
  }

  .hero__content {
    max-width: 50%;
    text-align: center;
  }

  .hero__content-paragraph {
    margin: 1.4rem auto;
  }

  .hero__content-actions {
    justify-content: center;
  }

  /* ========== Why section ========== */
  .why {
    max-width: 80%;
    margin: auto;
  }

  .why__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    margin: 4rem 0;
  }

  .why__content-item {
    max-height: 320px;
  }
  
  .why__content-item img {}
  
  .why__content-item p {}

  /* ========== api call example section ========== */
  .call-example {
    max-width: 80%;
    margin: auto;
  }
  /* ========== contribute section ========== */
  .contribute {
    max-width: 80%;
    margin: auto;
  }

  /* ========== Documentation Page ========== */
  
  .example {
    display: flex;
    padding: 10px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
  }

  /* ========== Profile page ========== */
  .profile {
    display: flex;
    justify-content: left;
    margin: var(--header-height) 4rem;
    gap: 2rem;
  }

  .options {
    width: 30%;
  }

  .profile__content {
    width: 70%;
    max-width: 600px;
    margin: 0;
  }

  /* ========== docs ========== */
  .docs {
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 2rem;
    max-width: 100%;
  }

  .sidebar {
    margin: var(--header-height) 0;
    width: 20%;
    position: fixed;
    height: 100vh;
    padding: 0 1rem;
    border-right: 2px solid var(--bg-secondary-color);
  }

  .docs__content {
    width: 70%;
    margin-left: 25%;
    margin-top: var(--header-height);
  }

  /* ========== terms ========== */
  .terms {
    max-width: 800px;
    margin: auto;
  }
  /* ========== Footer ========== */

  .footer {
    padding: 1rem 3rem;
  }

  .footer__main {
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: row;
    padding: 3rem 1rem;
  }

  .footer__info-logo {
    font-size: 2.4rem;
  }
  
  .footer__newsletter {
    margin: 0;
    padding: 0;
    border: none;
  }

  .footer__bottom {
    border-top: 1px solid var(--bg-tertiary-color);
  }

  .footer__bottom-sublink {
    margin: 1rem 0;
  }

  .footer__footnotes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
  }

  .footer__footnotes-social {
    margin: 0;
  }
}

@media screen and (min-width: 1024px) {
  /* ========== contribute section ========== */
  .contribute {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    width: 80%;
    margin: auto;
  }

  .contribude__cover {
    width: 100%;
    height: 160px;
  }

  .contribute__content {
    width: 50%;
    max-width: 700px;
  }

  .contribute__content-paragraph {
    max-width: 100%;
  }  
}

@media screen and (max-width: 500px) {
  /* ========== Login and Register page ========== */
  /* .yettoname-container {display: none;} */
/* 
  .form-container {
    width: 100%;
    left: 0;
  } */

  /* .container.right-panel-active .sign-up-container {transform: translateX(0%);} */
/* 
  .auth {
    margin: 10% 0;
    display: block;
  } */

  /* .navigation {width: 80%;} */

  /* ========== Home page ========== */

  /* ========== Profile page ========== */
  /* .profile {width: 90%;} */
}