:root {
  --bg-color: #222329;
  --bg-lighter: #31323a;
  --primary: #d8d8d8;
  --secondary: #e7b728;
  --secondary-lighter: #ffca2a;
  --error-color: #f04e4e;
}

/* ========== General styles ========== */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
  text-decoration: none;
  color: var(--primary);
  -webkit-tap-highlight-color: transparent;
}

body,
html {
  background-color: var(--bg-color);
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
  min-height: 100vh;
  position: relative;
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--bg-lighter);
  border-radius: 20px;
}

body::after {
  content: '';
  display: block;
  height: 70px; /* Set same as footer's height */
}

li {list-style: none;}

p {margin: 1rem 0;}

p a {color: var(--secondary);}

hr {
  border: 1px solid var(--bg-lighter);
  margin: 2em 0;
  max-width: 100%;
}

h1 {
  font-weight: bold;
  margin: 0;
}

input {
  background-color: var(--bg-lighter);
  border: none;
  padding: 14px;
  margin: 5px 0;
  width: 100%;
  border-radius: 50px;
}

code {
  padding: 4px 4px 4px 8px;
  font-size: 0.9rem;
  position: relative;
  background-color: var(--bg-lighter);
  border-radius: 4px;
}

.btn {
  background-color: var(--secondary);
  border: 1.3px solid var(--secondary);
  color: var(--bg-color);
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  border-radius: 50px;
  padding: 10px 18px;
  margin: 5px 0;
}

.btn:active {transform: scale(0.9);}

.btn--large {width: 100%;}

.btn--secondary {
  background-color: transparent;
  border-color: var(--primary);
  color: var(--primary);
}

.success,
.alert {text-align: center;}

.alert {color: var(--error-color);}

/* ========== Login and register page ========== */

.text {margin: 20px 0 30px;}

.auth {display: none;}

button.ghost {
  background-color: transparent;
  border-color: var(--primary);
}

.form {
  background-color: var(--bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
}

.container {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
}

.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.sign-in-container {
  left: 10%;
  width: 40%;
  z-index: 2;
}

.container.right-panel-active .sign-in-container {transform: translateX(100%);}

.sign-up-container {
  left: 10%;
  width: 40%;
  opacity: 0;
  z-index: 1;
}

.container.right-panel-active .sign-up-container {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: show 0.6s;
}

.overlay-container {
  position: absolute;
  top: 0;
  left: 65%;
  width: 35%;
  height: 100%;
  overflow: hidden;
  transition: left 0.6s ease-in-out;
  z-index: 100;
}

.container.right-panel-active .overlay-container {left: 0;}

.overlay {
  background: var(--secondary);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  color: var(--primary);
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.container.right-panel-active .overlay {transform: translateX(50%);}

.overlay-panel {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.overlay-left {transform: translateX(-20%);}

.container.right-panel-active .overlay-left {transform: translateX(0);}

.overlay-right {
  right: 0;
  transform: translateX(0);
}

.container.right-panel-active .overlay-right {transform: translateX(20%);}

/* ========== Header and Navigation ========== */
.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.6rem;
}

nav {display: flex;}

.navbar__item {
  margin: 0 1rem 0 1rem;
  padding: 0.5rem;
}

.btn--auth {padding: 8px 12px;}

.navigation,
#bars {
  display: none;
}

.authentication {display: none;}

/* ========== Home page ========== */
.hero {
  margin: 1rem;
  border-radius: 1rem;
  min-height: 85vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.hero__content h1 {font-size: 2.5rem;}

.hero__content p {margin: 1rem 0;}

.hero__content .btn {
  display: block;
  width: 150px;
  text-align: center;
  padding: 0.7rem;
  border-radius: 4px;
}

.hero__img {
  max-width: 40vw;
  min-width: 10vw;
}

.why {
  text-align: center;
  background-color: var(--bg-lighter);
  padding: 2rem;
  height: 90vh;
}

.why__details {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin: 2rem 0;
}

.why__details p {max-width: 300px;}

.fact {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  height: 50vh;
}

/* ========== Documentation page ========== */
.docs {
  margin: 2rem 0 0 2rem;
  width: 65%;
}

.docs__link {
  color: var(--secondary-lighter);
  font-weight: bolder;
}

.example {
  display: inline-block;
  margin: 1rem 0;
}

.example::before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 4px;
  content: "";
  background-color: var(--secondary-lighter);
}

table {margin: 2rem 0;}

table td {border-bottom: 1px solid var(--bg-lighter);}

tr:hover:not(:first-child) {background-color: var(--bg-lighter);}

table tr th {text-align: left;}

table tr td {padding: 8px;}

/* ========== Profile page ========== */
.profile {display: flex;}

.profile table {width: 100%;}

.profile section {
  margin: 2rem 2rem;
  width: 30%;
}

.profile button {padding: 6px;}

.sidebar {width: 50%;}

.sidebar .active {background-color: var(--bg-lighter);}

.sidebar__item {
  padding: 10px;
  border-radius: 50px;
  width: 100%;
}

.sidebar__item a {
  display: block;
  width: 100%;
}

.profile code {padding: 6px;}
  
/* ========== Footer ========== */
footer {
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
  bottom: 0;
  width: 100%;
  padding: 10px;
  border-top: 1px solid var(--bg-lighter);
}

footer i {
  font-size: 1.5em;
}
/* ========== Animations ========== */

@keyframes show {
  0%,
  49.99% {
    opacity: 0;
    z-index: 1;
  }

  50%,
  100% {
    opacity: 1;
    z-index: 5;
  }
}

/* ========== Responsive ========== */
@media screen and (max-width: 768px) {
  .form {padding: 0 10px;}

  /* ========== Header and navigation ========== */
  .header {justify-content: space-between;}

  #bars {
    font-size: 2rem;
    display: block;
  }

  .navigation {
    position: fixed;
    top: 0;
    background-color: var(--bg-lighter);
    z-index: 4;
    height: 100vh;
    width: 60%;
  }

  .navigation li {
    padding: 10px;
    font-size: 1.4rem;
  }

  .navigation a,
  h2 {
    color: var(--primary);
    width: 100%;
    display: block;
  }

  .authentication {
    display: flex;
    justify-content: space-between;
    position: fixed;
    background-color: var(--bg-lighter);
    bottom: 0;
    width: 100%;
    padding: 4px;
    z-index: 3;
  }

  .authentication .btn {
    text-align: center;
    padding: 6px;
    width: 49%;
    border-radius: 50px;
  }

  .active {display: block;}

  .header div,
  nav {
    display: none;
  }

  /* ========== Home page ========== */
  .hero {margin: 0.4rem;}

  .hero__content {margin: 10px;}

  .fact {text-align: center;}

  .fact h2 {max-width: 90%;}

  /* ========== Documentation Page ========== */
  .docs {
    margin: 1rem auto;
    padding: 5px;
    width: 95%;
  }

  .example {
    display: flex;
    padding: 10px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
  }

  /* ========== Profile page ========== */
  .profile {
    width: 60%;
    margin: 12vh auto;
  }

  .profile section {
    width: 90%;
    margin: auto;
  }

  .profile h2 {text-align: center;}

  .sidebar {display: none;}
}

@media screen and (max-width: 500px) {
  /* ========== Login and Register page ========== */
  .overlay-container {display: none;}

  .form-container {
    width: 100%;
    left: 0;
  }

  .container.right-panel-active .sign-up-container {transform: translateX(0%);}

  .auth {
    margin: 10% 0;
    display: block;
  }

  .navigation {width: 80%;}

  /* ========== Home page ========== */
  .hero img {display: none;}

  .why {height: auto;}

  .why__details {
    display: block;
    width: 100%;
    margin: 2rem 0;
  }

  /* ========== Profile page ========== */
  .profile {width: 90%;}
}